.movie-card {
    display: flex;
}

.movie-card::hover {
    cursor: pointer;
    animation: zoom-in 0.3s linear;
    transition: 0.5s;
    transform: perspective(1000px) scale(1.1);
}

.movie-card img {
    width: 270px;
    height: 170px;
    border-radius: 5%;
    mask-image: linear-gradient(to bottom, white, transparent 100%);;
}

.movie-card h3 {
    position: relative;
    bottom: 60px;
    color: inherit;
    color: black;
    text-decoration: none;
    max-width: 270PX;
}

.movie-card h3:hover {
    cursor: pointer;
}